.storybook-task {
  position: relative;
  width: 462px;
  height: 77px;
}
.storybook-task--complete {
  /* Rectangle 3 */

  background: #e2ffe5;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
}
.storybook-task--incomplete {
  /* Rectangle 1 */

  background: #ffffff;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
}
.task-box-complete {
  box-sizing: border-box;
  position: absolute;
  width: 25px;
  height: 25px;
  background: #359845;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  top: 35%;
  left: 5%;
}
.task-box-incomplete {
  box-sizing: border-box;
  position: absolute;
  width: 25px;
  height: 25px;
  background: #ffffff;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  top: 35%;
  left: 5%;
}

.textcontainer {
  position: relative;
  top: 15%;
  left: 15%;
}

.text0 {
  position: relative;
  width: 365px;
  height: 27px;

  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;

  color: #000000;
}

.text1 {
  position: relative;
  width: 365px;
  height: 27px;

  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;

  color: #7d7d7d;
}
