.sent {
  position: relative;
  background: #74c2ff;
  border-radius: 15px;
}
.sentContainer {
}
.messageContent {
  position: relative;
  width: 755px;
  font-family: Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  text-align: left;
  padding: 15px;
}
.avatar {
  border-radius: 50%;
  length: 10%;
  width: 10%;
}
